<div class="container margen">
  <div class="card mb-3">
    <img class="card-img-top" src="https://placeimg.com/780/250/any" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> {{ nuevaPublicacion.fechaPublicacion }} </h5>
      <div class="form-group">
        <label>Titulo Publicacion</label>
        <input [(ngModel)]="nuevaPublicacion.tituloPublicacion"
              type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label>Contenido</label>
        <input [(ngModel)]="nuevaPublicacion.textoPublicacion"
              type="text" class="form-control" id="" placeholder="">
      </div>
      <div class="form-group">
        <label>Semillero</label>
        <select [(ngModel)]="nuevaPublicacion.idSemillero"
                class="form-control" name="">
          <option *ngFor="let semillero of semilleros"
                  [value]="semillero.idSemillero">{{ semillero.nombreSemillero }}</option>
        </select>
      </div>
      <button (click)="agregarPublicacion()"
              class="btn btn-outline-success btn-block"
              type="button" name="button"> Crear Semillero </button>
    </div>
  </div>
</div>

  <div *ngIf="exito"
        class="alert alert-success"
        role="alert">
      <strong>Se creo Exitosamente</strong>
  </div>
