/* You can add global styles to this file, and also import other style files */
footer{
  margin-top: 15px;
  background-color: #343a40;
  text-align: center;
  text-transform: capitalize;
  color: white;
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer{
  position: static!important;
}

.alert{
  margin-top: 15px;
  text-align: center;
}
